<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="JonathanMartz\WebApiStats" type="JonathanMartz\WebApiStats\Plugin\Rest\Api"/>
    </type>
    <type name="Magento\Framework\Webapi\Rest\Response">
        <plugin name="JonathanMartz\WebApiStats" type="JonathanMartz\WebApiStats\Plugin\Rest\Api"/>
    </type>
</config>
